= form_with(model: [ @user, profile ], local: true) do |profile_form|
  - if @user.profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.profile.errors.count, "error")} prohibited this profile from being saved:"
      %ul
        - @user.profile.errors.full_messages.each do |message|
          %li= message
  .field
    = profile_form.label :first_name, class: 'Form-label'
    = profile_form.text_field :first_name, placeholder: "Twoje Imię", class: 'Form-input'
  .field
    = profile_form.label :last_name, class: 'Form-label'
    = profile_form.text_field :last_name, placeholder: "Twoje Nazwisko", class: 'Form-input'
  .field
    = profile_form.label :nick_name, class: 'Form-label'
    = profile_form.text_field :nick_name, placeholder: "Nick na forum", class: 'Form-input'
  .field
    = profile_form.label :pesel, class: 'Form-label'
    = profile_form.text_field :pesel, placeholder: I18n.t('activerecord.attributes.profile.pesel_11_digit'), class: 'Form-input'
  .field
    = profile_form.label :gender, class: 'Form-label'
    = profile_form.select :gender, Profile.genders.keys.to_a, prompt: true, class: 'mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-gray-400 focus:border-gray-400 sm:text-sm'
  .field
    = profile_form.label :skills, class: 'Form-label'
    = profile_form.text_field :skills, placeholder: "np. mechanik, stylistka", class: 'Form-input'
  .field
    = profile_form.label :contact_number, class: 'Form-label'
    = profile_form.text_field :contact_number, placeholder: '777888999', class: 'Form-input'
  .field
    = profile_form.label :avatar, class: 'Form-label'
    = profile_form.file_field :avatar
  .actions
    = profile_form.submit 'Zapisz', class: 'Form-submit'
