.w-full.h-full.flex.flex-col.justify-center 
  .overflow-y-scroll.justify-center.w-full.py-5.flex.px-48{class: 'h-2/3'}
    =t('views.participant_portal.consent.content1')
    %br 
    =t('views.participant_portal.consent.content2')
    %br/
    =t('views.participant_portal.consent.content3') 
    %br/
      
  = link_to t('views.participant_portal.consent.regulation1'), 'regulations/Regulamin_dla_uczestnika.pdf', target: "_blank" 
  = link_to t('views.participant_portal.consent.regulation2'), 'regulations/Regulamin_uczestnictwa.pdf', target: "_blank"
  = link_to t('views.participant_portal.consent.consent_study'), 'Consents/Form_Swiadomej_zgody.pdf', target: "_blank"
  = link_to t('views.participant_portal.consent.consent_dna'), 'Consents/zgoda_badanie_genetyczne.pdf', target: "_blank"
    
  = link_to agree_path, class: 'w-1/2 flex justify-center mx-auto' do
    %button.bg-transparent.px-4.py-3.border-2.rounded.border-green-500.bg-green-300.hover:bg-green-100 
      = t('views.participant_portal.consent.button')