.w-full.h-full.flex.flex-col.justify-center.text-2xl.py-16
  - case current_user.profile.aasm_state
  - when 'filled_info'
    = render partial: 'participant_portal/partials/consent'
  - when 'consented'
    = render partial: 'participant_portal/partials/first_survey'
  - when 'filled_first_survey'
    = render partial: 'participant_portal/partials/second_survey'
  - when 'filled_second_survey'
    = render partial: 'participant_portal/partials/third_survey'
  - when 'filled_third_survey'
    = render partial: 'participant_portal/partials/fourth_survey'
  - when 'filled_fourth_survey'
    = render partial: 'participant_portal/partials/fifth_survey'
  - when 'filled_fifth_survey'
    = render partial: 'participant_portal/partials/sixth_survey'
