%h1 Listing dispensaries

%table
  %thead
    %tr
      %th t('views.dispensaries.table.name')
      %th t('views.dispensaries.table.description')
      %th t('views.dispensaries.table.avatar')
      %th t('views.dispensaries.table.category')
      %th t('views.dispensaries.table.documents')
      %th t('views.dispensaries.table.verifeid')
      %th t('views.dispensaries.table.open')
      %th t('views.dispensaries.table.lat')
      %th t('views.dispensaries.table.lng')
      %th
      %th
      %th

  %tbody
    - @dispensaries.each do |dispensary|
      %tr
        %td= dispensary.name
        %td= dispensary.description
        %td= dispensary.avatar
        %td= dispensary.category
        %td= dispensary.documents
        %td= dispensary.verified
        %td= dispensary.open
        %td= dispensary.lat
        %td= dispensary.lng
        %td= link_to t('views.dispensaries.show'), dispensary
        %td= link_to t('views.dispensaries.edit'), edit_dispensary_path(dispensary)
        %td= link_to t('views.dispensaries.destroy'), dispensary, method: :delete, data: { confirm: t('dispensaries.confirm') }

%br

= link_to t('views.dispensaries.new'), new_dispensary_path
