%h1 Listing dispensaries

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Avatar
      %th Category
      %th Documents
      %th Verified
      %th Open
      %th Lat
      %th Lng
      %th
      %th
      %th

  %tbody
    - @dispensaries.each do |dispensary|
      %tr
        %td= dispensary.name
        %td= dispensary.description
        %td= dispensary.avatar
        %td= dispensary.category
        %td= dispensary.documents
        %td= dispensary.verified
        %td= dispensary.open
        %td= dispensary.lat
        %td= dispensary.lng
        %td= link_to 'Show', dispensary
        %td= link_to 'Edit', edit_dispensary_path(dispensary)
        %td= link_to 'Destroy', dispensary, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Dispensary', new_dispensary_path
