%p#notice= notice

%p
  %b #{t('views.dispensaries.table.name')}:
  = @dispensary.name
%p
  %b #{t('views.dispensaries.table.description')}:
  = @dispensary.description
%p
  %b #{t('views.dispensaries.table.avatar')}:
  = @dispensary.avatar
%p
  %b #{t('views.dispensaries.table.category')}:
  = @dispensary.category
%p
  %b #{t('views.dispensaries.table.documents')}:
  = @dispensary.documents
%p
  %b #{t('views.dispensaries.table.verifeid')}:
  = @dispensary.verified
%p
  %b #{t('views.dispensaries.table.open')}:
  = @dispensary.open
%p
  %b #{t('views.dispensaries.table.lat')}:
  = @dispensary.lat
%p
  %b #{t('views.dispensaries.table.lng')}:
  = @dispensary.lng

= link_to t('views.dispensaries.edit'), edit_dispensary_path(@dispensary)
\|
= link_to t('views.dispensaries.back'), dispensaries_path
