.flex.flex-row.items-center.justify-center.text-primary-500
  .span.w-56.text-center 
    = t("views.participant_portal.steps.filled_profile")
.flex.flex-row.items-center.justify-center.p-2.text-primary-500
  .span.w-66.text-center 
    = t("views.participant_portal.steps.agreed")
.flex.flex-row.items-center.justify-center.p-2.text-primary-500
  .span.w-66.text-center 
    = t("views.participant_portal.steps.filled_1")
.flex.flex-row.items-center.justify-center.p-2.text-primary-500
  .span.w-66.text-center 
    = t("views.participant_portal.steps.filled_2")
.flex.flex-row.items-center.justify-center.p-2.text-primary-500
  .span.w-66.text-center 
    = t("views.participant_portal.steps.filled_3")
.flex.flex-row.items-center.justify-center.p-2
  = link_to fill_survey_path @surveys[3].id, ref: 4 do
    .span.w-56.text-center Fill Survey #4
.flex.flex-row.items-center.justify-center.p-2
  .span.w-56.text-center Fill Survey #5
.flex.flex-row.items-center.justify-center.p-2
  .span.w-56.text-center Fill Survey #6
.flex.flex-row.items-center.justify-center.p-2
  .span.w-56.text-center Registration Fee
.flex.flex-row.items-center.justify-center.p-2
  .span.w-56.text-center Book Appointment

