.flex.flex-row.items-center.justify-center.text-green-500
  .span.w-56.text-center 
    = t("views.participant_portal.steps.filled_profile")
.flex.flex-row.items-center.justify-center.p-2.text-green-500
  .span.w-66.text-center
    = t("views.participant_portal.steps.register")
.flex.flex-row.items-center.justify-center.p-2.text-green-500
  .span.w-66.text-center 
    = t("views.participant_portal.steps.agreed")
.flex.flex-row.items-center.justify-center.p-2.text-green-500
  .span.w-66.text-center 
    = t("views.participant_portal.steps.filled_1")
.flex.flex-row.items-center.justify-center.p-2.text-green-500
  .span.w-66.text-center 
    = t("views.participant_portal.steps.filled_2")
.flex.flex-row.items-center.justify-center.p-2.text-green-500
  .span.w-66.text-center 
    = t("views.participant_portal.steps.filled_3")
.flex.flex-row.items-center.justify-center.p-2.text-green-500
  .span.w-66.text-center 
    = t("views.participant_portal.steps.filled_4")
.flex.flex-row.items-center.justify-center.p-2.text-green-500
  .span.w-66.text-center 
    = t("views.participant_portal.steps.filled_5")
.flex.flex-row.items-center.justify-center.p-2
  = link_to fill_survey_path @surveys[5].id, ref: 6 do
    = t("views.participant_portal.steps.fill_6")
.flex.flex-row.items-center.justify-center.p-2
  .span.w-86.text-center 
    = t("views.participant_portal.steps.reg_fee")
.flex.flex-row.items-center.justify-center.p-2
  .span.w-156.text-center 
    = t("views.participant_portal.steps.book_appointment")
