.w-full.h-full{"data-controller" => "modal", "data-modal-allow-background-close" => "false"}
  .flex.flex-row.justify-center.items-center.h-full.text-xs
    .grid.grid-col-4.border-r-4.border-black.p-4
      %h2.flex.justify-end.mt-10.text-sm.sm:text-xl.md:text-2xl.lg:text-3xl.xl:text-5xl.2xl:text-7xl #{@active.study.title}
      .flex.justify-center.pt-4
        = image_tag 'participant_portal/check.png', size: "30x30", alt: 'checked icon' if current_user.approved?
      %p.text-center.text-blue-600.sm:text-base #{current_user.approved? ? t('views.participant_portal.approved') : t('views.participant_portal.pending_approval')}
    .flex.flex-col.items-center.justify-around.p-4.text-sm.sm:text-base.md:text-xl.lg:text-2xl.xl:text-3xl.2xl:text-4xl
      .flex.justify-between.w-full
        %p.text-gray-600.break-all.p-1 Start Date
        %p.p-1 #{@active.created_at.strftime('%d %B %y')}
    .flex.flex-col.justify-center.p-10
      = image_tag 'participant_portal/arrow.png', size: "60x60", alt: 'arrow icon'
      %div{"data-controller" => "modal", "data-modal-allow-background-close" => "false"}
      %a.bg-blue-500.hover:bg-blue-700.text-white.font-bold.py-3.px-6.rounded{"data-action" => "click->modal#open", :href => "#"}
        %span Receive Transfer
      / Modal Container
      .hidden.animated.fadeIn.fixed.inset-0.overflow-y-auto.flex.items-center.justify-center{"data-action" => "click->modal#closeBackground keyup@window->modal#closeWithKeyboard", "data-modal-target" => "container", :style => "z-index: 9999;"}
        / Modal Inner Container
        .max-h-screen.w-full.max-w-lg.relative
          / Modal Card
          .m-1.bg-white.rounded.shadow
            .p-8
              %h2.text-xl.mb-4.w-full.text-center Participant ##{current_user.id}
              = image_tag @qr.to_data_url
              .flex.justify-end.items-center.flex-wrap.mt-6
                %button.bg-blue-500.hover:bg-blue-700.text-white.font-bold.py-2.px-4.rounded{"data-action" => "click->modal#close"} Close
:css
  #modal-background { display: none }
