/ This is an example component
.h-full
  .border-b-2.block.md:flex
    .w-full.p-4.sm:p-6.lg:p-8.bg-white.shadow-md{:class => "md:w-2/5"}
      .flex.justify-between
        %span.text-xl.font-semibold.block User Profile
        = link_to "Edit", edit_user_path(current_user), class: "-mt-2 text-md font-bold text-white bg-gray-700 rounded-full px-5 py-2 hover:bg-gray-800"
      %span.text-gray-600 This information is secret so be careful
      .w-full.p-8.mx-2.flex.justify-center
        =gravatar_image_tag(@user.email, :alt => @user.email, :gravatar => { :size => 280 }, :class => 'max-w-xs w-32 items-center border')
    .w-full.p-8.bg-white.lg:ml-4.shadow-md{:class => "md:w-3/5"}
      .rounded.shadow.p-6
        .pb-6
          %label.font-semibold.text-gray-700.block.pb-1{:for => "name"} Name
          .flex
            %input#username.border-1.rounded-r.px-4.py-2.w-full{:disabled => "disabled", :type => "text", :value => "Jane Name"}/
        .pb-4
          %label.font-semibold.text-gray-700.block.pb-1{:for => "about"} Email
          %input#email.border-1.rounded-r.px-4.py-2.w-full{:disabled => "disabled", :type => "email", :value => "#{current_user.email}"}/
          %span.text-gray-600.pt-4.block.opacity-70 Personal login information of your account
.h-full
  .border-b-2.block.md:flex
    .w-full.p-4.sm:p-6.lg:p-8.bg-white.shadow-md{:class => "md:w-2/5"}
      Address
    .w-full.p-8.bg-white.lg:ml-4.shadow-md{:class => "md:w-3/5"}
      .rounded.shadow.p-6
        = form_with model: @user do |form|
          = form.text_field :email

          .actions
          = form.submit 'Save'