%nav.navbar.navbar-default.sidebar{:role => "navigation"}
  %ul.nav.navbar-nav
    %li
      = link_to "#", class: 'btn btn-lg' do "Menu" end
    %li
      = link_to "http://forum.cannabishouse.eu", class: 'btn btn-lg', :target => "_blank" do "Forum" end
    %li
      = link_to "Filmy", under_construction_path, class: 'btn btn-lg'
    %li
      = link_to "Galeria", under_construction_path, class: 'btn btn-lg'
    %li
      = link_to "Sklep", under_construction_path, class: 'btn btn-lg'
    %li
      = link_to "Radio", under_construction_path, class: 'btn btn-lg'
    %li
      = link_to "https://www.youtube.com/channel/UCYXfUdG5CjG8C2Pjl7CNXdg", class: 'btn btn-lg', :target => "_blank" do "TV" end
    %li
      = link_to "https://www.facebook.com/lodzCH", class: 'btn btn-lg', :target => "_blank" do "Facebook" end


