.flex.flex-row.flex-nowrap.w-full.h-full{ "data-controller" => "dispensary", "data-dispensary-target" => "dispensary" }
  .flex.flex-col.flex-grow
    .flex.flex-row.flex-nowrap.justify-around.my-2.items-center.p-2
      %h1.flex-grow.text-center #{t('views.dispensary_portal.filter')}
      .flex.flex-col
        %h2 #{t('views.dispensary_portal.start_date')}
        %input.datepicker{value: @start, type: "date","data-dispensary-target" => "start", "data-action" => "change->dispensary#filterTransfer"}
      .flex.flex-col
        %h2 #{t('views.dispensary_portal.end_date')}
        %input.datepicker{value: @end, type: "date","data-dispensary-target" => "end", "data-action" => "change->dispensary#filterTransfer"}
    .overflow-y-scroll.h-full.divide-y
      - @transfers.each do |t|
        .h-14.text-center.p-3.sm:text-xl
          = "#{t.weight} grams #{t('views.dispensary_portal.sent_to')} ##{t.receiver.id} #{t('views.dispensary_portal.on_date')} #{t.created_at.strftime("%d %b %Y")}"
  .flex.flex-col.pt-20.align-center.flex-grow.text-2xl.md:text-2xl.lg:text-3xl.xl:text-4xl
    .mx-auto
      %p.mb-10.text-center #{t('views.dispensary_portal.statement')}
      %p= button_to t('views.dispensary_portal.generate'), report_path, class: 'rounded bg-gray-200 border border-gray-500 py-4 sm:px-6 md:px-10 lg:px-14 xl:px-20', method: :get
