%h1 Listing orders

%table.border.border-separate.border-primary-500
  %thead
    %tr
      %th.border.border-primary-800 ID
      %th.border.border-primary-800 #{t('views.orders.type')}
      %th.border.border-primary-800 Status
      %th.border.border-primary-800 #{t('views.orders.amount')}
      %th.border.border-primary-800 #{t('views.orders.action')}

  %tbody
    - @orders.each do |order|
      %tr
        %td.border.border-primary-500= order.id
        %td.border.border-primary-500= order.materials.map do |material| material.material_type&.name end.join(", ")
        %td.border.border-primary-500= order.status
        %td.border.border-primary-500= order.amount
        %td.border.border-primary-500= link_to t('views.orders.show'), "#", class: 'rounded bg-blue-400'

