.container.flex.flex-col.mx-auto.w-full.mt-32

  %h1.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-4xl.leading-relaxed
    = t('pages.about.about_us')

  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.about.who_we_are.title')
  %p= t('pages.about.who_we_are.content')

  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.about.mission.title')
  %p= t('pages.about.mission.content')

  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.about.goals.title')

  %ul.flex.flex-col
    %li.border-gray-400.flex.flex-row.mb-2= t('pages.about.goals.list.item_2')
    %li.border-gray-400.flex.flex-row.mb-3= t('pages.about.goals.list.item_1')
    %li.border-gray-400.flex.flex-row.mb-2= t('pages.about.goals.list.item_3')
    %li.border-gray-400.flex.flex-row.mb-2= t('pages.about.goals.list.item_4')
    %li.border-gray-400.flex.flex-row.mb-2
    = t('pages.about.goals.list.item_5')
    %ul    
      %li= t('pages.about.goals.list.subitem_5-a')
      %li= t('pages.about.goals.list.subitem_5-b')
      %li= t('pages.about.goals.list.subitem_5-c') 

  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.about.vision.title')     
  %p= t('pages.about.vision.content_1')
  %p= t('pages.about.vision.content_2')
  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.about.how_long')
  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.about.register')



