.container.flex.flex-col.mx-auto.w-full.my-32
  %h1.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-4xl.leading-relaxed
    = t('pages.mesia.title.media')

  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.media.subtitle')
  %p= t('pages.media.intro.content.text')
  %p= t('pages.media.intro.content.text2')
  %p= t('pages.media.intro.content.text3')
  %p= t('pages.media.intro.content.text4')
  %br
  %br
  %p= t('pages.media.intro.content.list.title')
  %p= t('pages.media.intro.content.list.item1')
  %p= t('pages.media.intro.content.list.item2')
  %p= t('pages.media.intro.content.list.item3')
  %p= t('pages.media.intro.content.list.item4')
  %p= t('pages.media.intro.content.list.item5')
  %br
  
  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.media.intro.y2015.title')
  %p= t('pages.media.intro.y2015.content1')
  %p= t('pages.media.intro.y2015.content2')
  %p= t('pages.media.intro.y2015.content3')

  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.media.intro.y2018.title')
  %p= t('pages.media.intro.y2018.content1')
  %p= t('pages.media.intro.y2018.content2')
  
  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.media.intro.y2020.title')
  %p= t('pages.media.intro.y2020.content1')
  %p= t('pages.media.intro.y2020.content2')
  %p= t('pages.media.intro.y2020.content3')

  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.media.intro.y2021.title')
  %p= t('pages.media.intro.y2021.content1')
  %p= t('pages.media.intro.y2021.content2')
  %p= t('pages.media.intro.y2021.content3')

  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.media.mentions')

  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.media.q_a.title')

  %p= t('pages.media.q_a.q1')
  %p= t('pages.media.q_a.a1')
  %p= t('pages.media.q_a.q2')
  %p= t('pages.media.q_a.a2')
  %p= t('pages.media.q_a.q3')
  %p= t('pages.media.q_a.a3')
  %p= t('pages.media.q_a.q4')
  %p= t('pages.media.q_a.a4')
  %p= t('pages.media.q_a.q5')
  %p= t('pages.media.q_a.a5')
  %p= t('pages.media.q_a.q6')
  %p= t('pages.media.q_a.a6')
  %p= t('pages.media.q_a.q7')
  %p= t('pages.media.q_a.a7')
  %p= t('pages.media.q_a.q8')
  %p= t('pages.media.q_a.a8')

  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.media.social.title')
  %p= t('pages.media.social.link1')
  %p= t('pages.media.social.link2')


  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.media.team.title')

  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.media.video.title')

  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.media.logos.title')

  %p= t('pages.media.logos.content')

  %h2.text-2xl.text-left.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.pt-16.pb-8
    = t('pages.media.contact.title')

  %p= t('pages.media.contact.contact1')
  %p= t('pages.media.contact.contact2')
