.m-1.bg-gray-300.rounded.shadow
  .flex.justify-end.items-center.flex-wrap.-mb-10
    %button.bg-blue-500.hover:bg-blue-700.text-white.font-bold.py-2.px-4.rounded{"data-action" => "click->modal#close"} Close
  .py-12.px-20
    %h1.flex.justify-center.font-medium.text-3xl.mb-2 Welcome Back
    =form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .mt-8.max-w-md.mx-auto
        .grid.grid-cols-1.gap-6
          = render "devise/shared/error_messages", resource: resource
          %label.block.text-center
            %span.text-gray-700.flex.justify-start
              = f.label :email, 'Email', class: "font-serif mb-2"
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full rounded h-2/3 bg-gray-300"
          %label.block.text-center
            %span.text-gray-700.flex.justify-start  
              = f.label :password, 'Password', class: "font-serif mb-2"
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, class: 'w-full rounded h-2/3 bg-gray-300'
          %label.font-serif.text-gray-700
            = f.check_box :remember_me, {class: "rounded"}, 'true', 'false'
            = f.label :remember_me, 'Remember Me', class: ""
          = f.submit 'Sign in to Cannabis House', class: "Form-submit hover:bg-blue-800 bg-blue-700 w-full font-serif text-base"
          %h3.flex.justify-center.font-serif.mt-2
            Don't have an account?
            = link_to t('.devise.signup'), new_user_registration_path, class: "ml-2 text-blue-800"