%h1 Listing question_options

%table
  %thead
    %tr
      %th #{t('views.question_options.label.name')}
      %th #{t('views.question_options.label.question')}
      %th
      %th
      %th

  %tbody
    - @question_options.each do |question_option|
      %tr
        %td= question_option.name
        %td= question_option.question
        %td= link_to t('views.question_options.show'), question_option
        %td= link_to t('views.question_options.edit'), edit_question_option_path(question_option)
        %td= link_to t('views.question_options.destroy'), question_option, method: :delete, data: { confirm: t('views.question_options.confirm') }

%br

= link_to t('views.question_options.new'), new_question_option_path
