%h1 Listing question_types

%table
  %thead
    %tr
      %th #{t('views.question_options.label.name')}
      %th
      %th
      %th

  %tbody
    - @question_types.each do |question_type|
      %tr
        %td= question_type.name
        %td= link_to t('views.question_options.show'), question_type
        %td= link_to t('views.question_options.edit'), edit_question_type_path(question_type)
        %td= link_to t('views.question_options.destroy'), question_type, method: :delete, data: { confirm: t('views.question_options.confirm') }

%br

= link_to t('views.question_options.new'), new_question_type_path
