.w-full.h-full.flex.flex-col.py-4.md:flex-row{ "data-controller" => "researcher", "data-researcher-target" => "researcher" }
  / First Column
  .h-full.flex.flex-col.px-1.flex-grow.mb-2.md:mb-0
    / Surveys Section
    .h-full.flex.flex-col.bg-gray-300.rounded-xl.justify-space-between.items-center.p-2
      %span.w-full.flex-grow.flex.flex-col
        / Title
        .text-sm.text-gray-600.mb-3.text-center.capitalize.md:text-2xl My Surveys
        - if @surveys.empty?
          .w-full.text-center.flex.flex-col.justify-center.flex-grow
            You don't have any surveys yet
        - else
          / Cards
          = render 'researcher_portal/partials/surveylist', s: @surveys
          / Action Button Footer
      .flex.justify-center.px-6.py-2.bg-gray-100.rounded-md
        = link_to "Create a Survey"
  / Second Column
  .h-full.flex.flex-col.px-1.flex-grow
    / Survey Editor
    .h-full.flex.flex-col.bg-gray-300.rounded-xl.justify-space-between.items-center.p-2
      %span.w-full.flex-grow
        / Title
        .text-sm.text-gray-600.mb-3.text-center.capitalize.md:text-2xl Edit Survey
        / Cards
        = form_for @survey do |form|
          %span.flex.flex-col
            = form.text_field :title, class: 'bg-transparent border-0 border-b-2 text-center text-gray-600'
            = form.text_area :description, type: 'textarea', rows: 3, class: 'h-full bg-transparent border-0 border-b-2 text-center text-gray-600'
          = form.submit(hidden: true, data: { 'researcher-target' => 'update' })
      / Action Button Footer
      .grid.grid-cols-2.w-full
        = link_to "Cancel", authenticated_root_path, class: 'flex flex-grow justify-center bg-red-300 rounded-xl text-white py-4 mr-1'
        %a.flex.flex-grow.justify-center.bg-green-200.rounded-xl.text-gray-700.py-4.ml-1{ 'data-action' => 'click->researcher#confirmResearchUpdate'}
          Save Survey
