%section.text-gray-600.body-font.flex.flex-col.w-full.h-full.px-5.py-10.mx-auto
  .flex.flex-col
    %h1.w-full.sm:text-3xl.text-2xl.font-medium.title-font.mb-2.text-gray-900= t('views.dispensary_portal.select_material')
    .h-1.w-20.bg-green-500.rounded
  .flex-grow.overflow-x-scroll.overflow-y-hidden.w-full.pt-4.grid.grid-rows-1.gap-2.grid-flow-col.material_slider
    .card.flex.flex-col.justify-start.mx-4{ "data-action" => "click->dispensary#transferScreen", "data-material" => 1}
      .bg-gray-100.pt-6.rounded-t-3xl.bg-gray-200
        %h2.whitespace-nowrap.px-4.text-lg.text-gray-900.font-medium.title-font.mb-4.text-center Lemon Haze
        = image_tag 'dispensary_portal/weed_dev/weed1.png', alt: 'weed', class: 'rounded-b rounded-t-3xl w-full'
      %h2.text-lg.text-gray-900.font-medium.title-font.mb-4.text-center 40 grams
    .card.flex.flex-col.justify-start.mx-4{ "data-action" => "click->dispensary#transferScreen", "data-material" => 2}
      .bg-gray-100.pt-6.rounded-t-3xl.bg-gray-200
        %h2.whitespace-nowrap.px-4.text-lg.text-gray-900.font-medium.title-font.mb-4.text-center Lemon Haze
        = image_tag 'dispensary_portal/weed_dev/weed1.png', alt: 'weed', class: 'rounded-b rounded-t-3xl w-full'
      %h2.text-lg.text-gray-900.font-medium.title-font.mb-4.text-center 40 grams
    .card.flex.flex-col.justify-start.mx-4{ "data-action" => "click->dispensary#transferScreen", "data-material" => 3}
      .bg-gray-100.pt-6.rounded-t-3xl.bg-gray-200
        %h2.whitespace-nowrap.px-4.text-lg.text-gray-900.font-medium.title-font.mb-4.text-center Lemon Haze
        = image_tag 'dispensary_portal/weed_dev/weed1.png', alt: 'weed', class: 'rounded-b rounded-t-3xl w-full'
      %h2.text-lg.text-gray-900.font-medium.title-font.mb-4.text-center 40 grams
    .card.flex.flex-col.justify-start.mx-4{ "data-action" => "click->dispensary#transferScreen", "data-material" => 4}
      .bg-gray-100.pt-6.rounded-t-3xl.bg-gray-200
        %h2.whitespace-nowrap.px-4.text-lg.text-gray-900.font-medium.title-font.mb-4.text-center Lemon Haze
        = image_tag 'dispensary_portal/weed_dev/weed1.png', alt: 'weed', class: 'rounded-b rounded-t-3xl w-full'
      %h2.text-lg.text-gray-900.font-medium.title-font.mb-4.text-center 40 grams
    .card.flex.flex-col.justify-start.mx-4{ "data-action" => "click->dispensary#transferScreen", "data-material" => 5}
      .bg-gray-100.pt-6.rounded-t-3xl.bg-gray-200
        %h2.whitespace-nowrap.px-4.text-lg.text-gray-900.font-medium.title-font.mb-4.text-center Lemon Haze
        = image_tag 'dispensary_portal/weed_dev/weed1.png', alt: 'weed', class: 'rounded-b rounded-t-3xl w-full'
      %h2.text-lg.text-gray-900.font-medium.title-font.mb-4.text-center 40 grams
