%div.row.grid-flow-row.auto-row-max.overflow-y-auto.overflow-x-auto.w-full{ "data-controller" => "doctor", "data-doctor-target" => "doctor" }
  %div.grid.grid-flow-col.auto-cols-max
    %div.w-24
    - 24.times do |i|
      %div.h-12.w-12.text-xs.flex.justify-center.items-end{id: "time_#{i}"}
        - slot_time = i * 0.5 + @start_time
        = slot_time % 1 == 0 ? "#{slot_time.to_i}:00" : "#{slot_time.to_i}:30"
  - (0..6).each do |i|
    - slots = @slots[i]
    %div.grid.grid-flow-col.auto-cols-max
      %div.w-24.text-center.d-flex.flex-col.items-center{id: "day_#{i}"} #{Date::DAYNAMES[i]}
      - 24.times do |j|
        - if slots.detect { |s| s[0] == j }
          - if slots.detect { |s| s[0] == j }[1]
            %div.border-2.h-12.w-12.slot.bg-red-700.bg-opacity-50
          - else
            = link_to remove_slot_path(slots.detect { |s| s[0] == j }[2]), method: :delete do
              %div.border-2.h-12.w-12.slot.bg-green-700.bg-opacity-50{'data-doctor-target' => 'slot', data: {col: j, row: i}, "data-action" => "mouseover->doctor#highlightColumn mouseout->doctor#unhighlightColumn"}
        - else
          = link_to add_slot_path({day: i, hours: (j * 0.5 + @start_time).floor, minutes: j.even? ? 0 : 30}), method: :post do
            %div.border-2.h-12.w-12.slot{'data-doctor-target' => 'slot', data: {col: j, row: i}, "data-action" => "mouseover->doctor#highlightColumn mouseout->doctor#unhighlightColumn"}
