%h1 Listing posts

%table
  %thead
    %tr
      %th #{t('views.posts.label.title')}
      %th #{t('views.posts.label.body')}
      %th Status
      %th #{t('views.posts.label.user')}
      %th #{t('views.posts.label.post_date')}
      %th #{t('views.posts.label.image')}
      %th Slug
      %th Inner
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.body
        %td= post.status
        %td= post.user
        %td= post.post_date
        %td= post.image
        %td= post.slug
        %td= post.inner
        %td= link_to t('views.posts.show'), post
        %td= link_to t('views.posts.edit'), edit_post_path(post)
        %td= link_to t('views.posts.destroy'), post, method: :delete, data: { confirm: t('views.posts.confirm') }

%br

= link_to t('views.posts.new'), new_post_path
