%p#notice= notice

%p
  %b #{t('views.posts.label.title')}:
  = @post.title
%p
  %b #{t('views.posts.label.body')}:
  = @post.body
%p
  %b Status:
  = @post.status
%p
  %b #{t('views.posts.label.user')}:
  = @post.user
%p
  %b #{t('views.posts.label.post_date')}:
  = @post.post_date
%p
  %b #{t('views.posts.label.image')}:
  = @post.image
%p
  %b Slug:
  = @post.slug
%p
  %b Inner:
  = @post.inner

= link_to t('views.posts.edit'), edit_post_path(@post)
\|
= link_to t('views.posts.back'), posts_path
