= form_for @transfer do |f|
  - if @transfer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transfer.errors.count, "error")} prohibited this transfer from being saved:"
      %ul
        - @transfer.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :sender_material
    = f.text_field :sender_material
  .field
    = f.label :reciever_material
    = f.text_field :reciever_material
  .field
    = f.label :sender
    = f.text_field :sender
  .field
    = f.label :reciever
    = f.text_field :reciever
  .field
    = f.label :weight
    = f.number_field :weight
  .actions
    = f.submit 'Save'
