%h1 Listing transfers

%table
  %thead
    %tr
      %th t('views.transfers.label.sender_material')
      %th t('views.transfers.label.receiver_material')
      %th t('views.transfers.label.sender')
      %th t('views.transfers.label.receiver')
      %th t('views.transfers.label.weight')
      %th
      %th
      %th

  %tbody
    - @transfers.each do |transfer|
      %tr
        %td= transfer.sender_material
        %td= transfer.receiver_material
        %td= transfer.sender
        %td= transfer.receiver
        %td= transfer.weight
        %td= link_to t('views.transfers.show'), transfer
        %td= link_to t('views.transfers.edit'), edit_transfer_path(transfer)
        %td= link_to t('views.transfers.destroy'), transfer, method: :delete, data: { confirm: t('views.transfers.confirm') }

%br

= link_to t('views.transfers.new'), new_transfer_path
