%h1 Listing appointments

%table
  %thead
    %tr
      %th Time
      %th Doctor
      %th Participant
      %th State
      %th
      %th
      %th

  %tbody
    - @appointments.each do |appointment|
      %tr
        %td= appointment.time
        %td= appointment.doctor
        %td= appointment.participant
        %td= appointment.state
        %td= link_to 'Show', appointment
        %td= link_to 'Edit', edit_appointment_path(appointment)
        %td= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Appointment', new_appointment_path
