.w-full.h-full.flex.flex-col.py-4.md:flex-row
  / First Column
  .h-full.flex.flex-col.px-1.flex-grow.mb-2.md:mb-0
    / Appointments Section
    .h-full.flex.flex-col.bg-gray-300.rounded-xl.justify-space-between.items-center.p-2.relative
      .h-7.w-7.absolute.top-2.right-4.bg-red-500.rounded-full.flex.justify-center.items-center.text-white #{@appointments.count || 0}
      %span.w-full.flex-grow
        / Title
        .text-sm.text-gray-600.mb-3.text-center.capitalize.md:text-2xl #{t('views.doctor_portal.upcoming')}
        / Content
        .flex.flex-col.overflow-y-auto
          / Cards
          - if @appointments.count.zero?
            .w-full.h-14.rounded-md.opacity-75.flex.items-center.mb-2.px-2.justify-center 
              = t('views.doctor_portal.no_upcoming')
          - else
            - @appointments.each do |a|
              = link_to appointment_details_path(a.id) do
                .w-full.h-14.rounded-md.bg-gray-100.opacity-75.flex.items-center.mb-2.px-2.flex.justify-between
                  %span #{a.time.strftime('%A %B %d, %Y')}
                  %span #{a.time.strftime('%H:%M')}
      / Action Button Footer
      = link_to appointments_path do
        .flex.justify-center.px-6.py-2.bg-gray-100.rounded-md #{t('views.doctor_portal.load')}
  / Second Column
  .h-full.flex.flex-col.px-1.flex-grow
    / Evaluations Section
    .flex.flex-col.bg-gray-300.rounded-xl.justify-between.items-center.p-2.mb-2.relative{class: "h-2/3"}
      .h-7.w-7.absolute.top-2.right-4.bg-red-500.rounded-full.flex.justify-center.items-center.text-white #{@evaluations.count || 0}
      %span.w-full.p-2.flex.flex-col
        / Title
        .text-sm.text-gray-600.mb-3.text-center.capitalize.md:text-2xl #{t('views.doctor_portal.pending')}
        /Content
        .flex.flex-col.overflow-y-auto.flex-grow.h-52
          / Cards
          - if @evaluations.count.zero?
            .w-full.rounded-md.opacity-75.flex.items-center.mb-2.px-2.justify-center 
              = t('views.doctor_portal.no_pending')
          - else
            - @evaluations.each do |a|
              = link_to evaluation_details_path(a.id) do
                .w-full.rounded-md.bg-gray-100.opacity-75.flex.items-center.mb-2.px-2.py-3
                  = "#{a.participant.profile.last_name}, #{a.participant.profile.first_name}"
      / Action Button Footer
      = link_to evaluations_path do
        .flex.justify-center.px-6.py-2.bg-gray-100.rounded-md #{t('views.doctor_portal.load')}
    / Schedule Section
    .flex.flex-col.bg-gray-300.rounded-xl.justify-space-between.items-center.p-2{class: "h-1/3"}
      %span.w-full.flex-grow
        / Title
        .text-sm.text-gray-600.mb-3.text-center.capitalize.md:text-2xl #{t('views.doctor_portal.calendar')}
        / Action Button Footer
        .flex.justify-center.px-6.py-2.bg-gray-100.rounded-md
          = link_to t('views.doctor_portal.edit'), calendar_path
