%h1 Listing materials

%table
  %thead
    %tr
      %th t('views.materials.table..type')
      %th t('views.materials.table..name')
      %th t('views.materials.table..desc')
      %th t('views.materials.table..weight')
      %th Thc
      %th Cbd
      %th t('views.materials.table..terpene')
      %th t('views.materials.table..drought')
      %th t('views.materials.table..oil')
      %th t('views.materials.table..edible')
      %th t('views.materials.table..cost')
      %th t('views.materials.table..owner')
      %th
      %th
      %th

  %tbody
    - @materials.each do |material|
      %tr
        %td= material.material_type
        %td= material.name
        %td= material.description
        %td= material.weight
        %td= material.thc
        %td= material.cbd
        %td= material.terpene
        %td= material.drought
        %td= material.oil
        %td= material.edible
        %td= material.cost
        %td= material.owner
        %td= link_to t('views.materials.show'), material
        %td= link_to t('views.materials.edit'), edit_material_path(material)
        %td= link_to t('views.materials.destroy'), material, method: :delete, data: { confirm: t('views.materials.confirm') }

%br

= link_to t('views.materials.new'), new_material_path
