%p#notice= notice

%p
  %b t('views.materials.table..type')
  = @material.material_type
%p
  %b t('views.materials.table..name')
  = @material.name
%p
  %b t('views.materials.table..desc')
  = @material.description
%p
  %b t('views.materials.table..weight')
  = @material.weight
%p
  %b Thc:
  = @material.thc
%p
  %b Cbd:
  = @material.cbd
%p
  %b t('views.materials.table..terpene')
  = @material.terpene
%p
  %b t('views.materials.table..drought')
  = @material.drought
%p
  %b t('views.materials.table..oil')
  = @material.oil
%p
  %b t('views.materials.table..edible')
  = @material.edible
%p
  %b t('views.materials.table..cost')
  = @material.cost
%p
  %b t('views.materials.table.owner')
  = @material.owner

= link_to t('views.materials.edit'), edit_material_path(@material)
\|
= link_to t('views.materials.back'), materials_path
