.w-full.p-2
  - case local_assigns[:q].type
  - when 'Rapidfire::Questions::Short'
    = render 'components/inputs/short', q: local_assigns[:q]
  - when 'Rapidfire::Questions::Long'
    = render 'components/inputs/long', q: local_assigns[:q]
  - when 'Rapidfire::Questions::Numeric'
    = render 'components/inputs/numeric', q: local_assigns[:q]
  - when 'Rapidfire::Questions::Select'
    = render 'components/inputs/single', q: local_assigns[:q]
  - when 'Rapidfire::Questions::Checkbox'
    = render 'components/inputs/checkbox', q: local_assigns[:q]
  - when 'Rapidfire::Questions::Date'
    = render 'components/inputs/date', q: local_assigns[:q]
