%footer.text-gray-600.body-font.bg-gray-100.mt-8
  .container.py-24.mx-auto
    .flex.flex-wrap.md:text-left.text-left.order-first
      .w-full{:class => "w-full lg:w-3/4 md:w-1/2"}

        %nav.list-none.mb-10
          %h4.mb-3.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.text-left
            Stowarzyszenie Cannabis House z siedzibą w Łodzi
          %p
            ul. Nawrot 114, lok 211
          %p
            90-029 Łódź
          %p.pt-2
            Tel: 422 784 420
          %p.pt-2
            KRS 0000587745
          %p
            NIP: 947-198-59-80
          %p
            REGON: 363042744
      .w-full.px-4{:class => "lg:w-1/4 md:w-1/2"}

        %h4.mb-3.tracking-tight.font-extrabold.text-gray-900.sm:text-xl.md:text-xl.leading-relaxed.text-left Menu
        %nav.list-none.mb-10
          %li.pb-3
            = link_to t('navbar.about'), about_path
          %li.pb-3
            = link_to t('navbar.media'), media_path
          %li.pb-3
            = link_to t('navbar.privacy_policy'), media_path
          %li.pb-3
            = link_to t('navbar.carrier'), media_path
  .bg-white
    .container.py-6.mx-auto.flex.align-center.items-center.sm:flex-row.flex-col
      %a.flex.title-font.font-medium.items-center.md:justify-start.justify-center.text-gray-900
        = image_tag "logo.png"
        %span.sr-only.ml-3.text-xl Cannabishouse
      %p.text-gray-500.sm:ml-6.sm:mt-0
        © 2021 cannabishouse —
        %a.text-gray-600.ml-1{:href => "https://twitter.com/#", :rel => "noopener noreferrer", :target => "_blank"} @cannabishouse
      %span.inline-flex.sm:ml-auto.sm:mt-0justify-center.sm:justify-start
        %a.text-gray-500
          %svg.w-5.h-5{:fill => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24"}
            %path{:d => "M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"}
        %a.ml-3.text-gray-500
          %svg.w-5.h-5{:fill => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24"}
            %path{:d => "M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"}
        %a.ml-3.text-gray-500
          %svg.w-5.h-5{:fill => "none", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24"}
            %rect{:height => "20", :rx => "5", :ry => "5", :width => "20", :x => "2", :y => "2"}
            %path{:d => "M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"}
        %a.ml-3.text-gray-500
          %svg.w-5.h-5{:fill => "currentColor", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "0", :viewbox => "0 0 24 24"}
            %path{:d => "M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z", :stroke => "none"}
            %circle{:cx => "4", :cy => "4", :r => "2", :stroke => "none"}