!!!
%html.text-gray-900.leading-tight.max-w-screen{:translate => "no"}
  %head
    = display_meta_tags
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for?(:title) ? yield(:title) : "Cannabis House"
    %meta{:content => content_for?(:description) ? yield(:description) : "Cannabis House", :name => "description"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    :javascript
      window.locale = "#{escape_javascript I18n.locale}"
  %body.bg-gray-100.w-full
    .w-full.mx-auto.flex.flex-col{:class => ('h-screen' unless action_name == 'landing')}
      = render 'layouts/navigation'
      .w-full.h-full.flex-grow.z-0
        = yield
      = toastr_flash
    = render 'layouts/footer'
  -# TODO load from app.js
  %script{:src => "https://unpkg.com/aos@next/dist/aos.js"}
  :javascript
    AOS.init({ duration: 1200,offset:300 });
