!!!
%html.text-gray-900.leading-tight.max-w-screen{:translate => "no"}
  %head
    = display_meta_tags
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for?(:title) ? yield(:title) : "Cannabis House"
    %meta{:content => content_for?(:description) ? yield(:description) : "Cannabis House", :name => "description"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.bg-gray-100.w-full
    .w-full.mx-auto.px-4.sm:px-6.flex.flex-col.h-screen
      = render 'layouts/navigation'
      = yield
      = toastr_flash
      = render 'layouts/footer'
